<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-toggle="modal"
        data-target="#add-modal"> Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Kode Kecamatan</th>
              <th>Nama Kecamatan</th>
              <th>Luas Kecamatan</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < kecamatan.length; i++){ %>
              <tr>
                <td><%= i +1 %></td>
                <td><%= kecamatan[i].kodeKec %></td>
                <td><%= kecamatan[i].namaKec %></td>
                <td><%= kecamatan[i].luasKec %></td>
                <td class="text-center">
                  <form
                    action="/kecamatan/<%= kecamatan[i].id %>?_method=DELETE"
                    method="POST"
                  >
                    <a
                      href="javascript:void()"
                      class="btn btn-outline-warning btn-sm button-update"
                      data-id="<%= kecamatan[i].id %>"
                      data-kodeKec="<%= kecamatan[i].kodeKec %>"
                      data-namaKec="<%= kecamatan[i].namaKec %>"
                      data-luasKec="<%= kecamatan[i].luasKec %>"
                      >Edit</a
                    >
                    <button
                      type="submit"
                      class="btn btn-outline-danger btn-sm"
                      onclick="return confirm('Apa anda yakin ingin menghapus data ini?');"
                    >
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>